{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AuthSettings": {
    "Key": "This is the key that we will use in the encryption",
    "Audience": "https://localhost",
    "Issuer": "https://localhost"
  },
  "Mailer": {
    "BaseUrl": "https://localhost:3001",
    "SendgridApiKey": "",
    "Sender": ""
  },
  "AllowedHosts": "*"
}
